<!-- Responsive navbar-->
<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand">Default Ismaël Company</span>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
            <!-- <span class="navbar-toggler-icon"></span> -->
        <!-- </button> -->
        <div id="navbarSupportedContent">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" aria-current="page" href="/">À propos</a>
            </div>
        </div>
    </div>
</nav>
